<div [hidden]="notification" (click)="hideNotification()">
  {{notification}}
</div>
<div class="crypto-content" *ngFor="let crypto of cryptos">
  <a routerLink="/details/{{crypto.name}}">
    <img src={{crypto.imageUrl}} class="crypto-img">

  <div class="crypto-name"><strong>{{crypto.name | uppercase}}</strong></div>
  <div class="crypto-name">{{crypto.portfolioName}}</div>
  </a>
  <a routerLink="/trade/{{crypto.name}}" class="crypto-price">
    <span><button>B</button>{{crypto.buy}}</span>
    <span><button>S</button>{{crypto.sell}}</span>
  </a>
</div>
<div [hidden]="!isAdmin">
  <button routerLink="/create" class="btn-crypto">Add new crypto-currency</button>
</div>

