<div [hidden]="notification" (click)="hideNotification()">
  <strong>{{notification}}</strong>
</div>
<div class="details" *ngIf="crypto">
  <img src={{crypto.imageUrl}} alt="crypto icon">
  <div class="title">{{crypto.name}}<span>{{crypto.portfolioName}}</span></div>
  <div class="crypto-trade">
    <a routerLink="/trade/{{crypto.name}}">
      <span>Buy: </span>{{crypto.buy}}
    </a>
  </div>
  <div class="crypto-trade">
    <a routerLink="/trade/{{crypto.name}}">
      <span>Sell: </span>{{crypto.sell}}
    </a>
  </div>
  <app-posts [cryptoId]="crypto._id"></app-posts>
</div>
