<nav *ngIf="!auth.isLoggedIn()" class="navbar navbar-expand-md navbar-dark bg-faded">
  <a class="navbar-brand" routerLink="/home">trade &#9818;</a>
  <a class="navbar-toggler-right navbar-brand" routerLink="/login">Login / Register</a>
</nav>
<nav *ngIf="auth.isLoggedIn()" class="navbar navbar-expand-md navbar-dark bg-faded">
  <a class="navbar-brand" routerLink="/home">trade &#9818;</a>
  <a class="navbar-brand" routerLink="/all">all users &#9823;</a>

  <section class="navbar-toggler-right">
    <div class="wrapper-d">
      <div id="dd" class="wrapper-dropdown-5">{{getCurrentUser()}}
        <ul class="dropdown">
          <li><a routerLink="/profile/{{getCurrentUser()}}"><i class="icon-user"></i>Profile</a></li>
          <li><a routerLink="/withdraw"><i class="icon-cog"></i>Withdraw Funds</a></li>
          <li><a routerLink="/deposit"><i class="icon-cog"></i>Deposit Funds</a></li>
          <li><a routerLink="/logout"><i class="icon-remove"></i>Logout</a></li>
        </ul>
      </div>
    </div>
  </section>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
