<div class="profile" *ngIf="user">
  <img src={{user.imageUrl}} alt="profileImg"/>
  <span>{{user.username}}</span>
  <ul>
    <li *ngFor="let trade of user.trades">
      <img style="max-width: 70px" src={{trade.cryptoImg}}/>
      <strong>{{cryptoName | uppercase}}</strong>
      <strong>Bought at: </strong>{{trade.cryptoPrice}}
      <strong>Amount: </strong>{{trade.amount}}
      <strong>Units: </strong>{{trade.amount / trade.cryptoPrice}}
      <strong>Profit: </strong><span [class.red]="trade.profit < 0" [class.green]="trade.profit >= 0">{{trade.profit}}</span>
    </li>
  </ul>
  <strong>Available: </strong>{{user.available}}
  <strong>Allocated: </strong>{{user.allocated}}
  <strong>Profit: </strong><span [class.red]="profit < 0" [class.green]="profit >= 0">{{profit}}</span>
  <strong>Equity: </strong>{{user.available + user.allocated + profit}}
</div>
