<div class="profile" *ngIf="user">
  <img src={{user.imageUrl}} alt="profileImg"/>
  <span>{{user.username}}</span>
  <ul>
    <li *ngFor="let trade of user.trades">
      <img style="max-width: 70px" src={{trade.cryptoImg}}/>
      <strong>{{trade.cryptoName | uppercase}}</strong>
      <strong>Bought at: </strong>{{trade.cryptoPrice}}
      <strong>Amount: </strong>{{trade.amount}}
      <strong>Units: </strong>{{trade.amount / trade.cryptoPrice}}
      <strong>Profit: </strong><span [style.color]="trade.profit < 0 ? 'red' : 'green'">{{trade.profit}}</span>
    </li>
  </ul>
  <strong>Available: </strong>{{user.available}}
  <strong>Allocated: </strong>{{user.allocated}}
  <strong>Profit: </strong><span [style.color]="profit < 0 ? 'red' : 'green'">{{profit}}</span>
  <strong>Equity: </strong>{{user.available + user.allocated + profit}}
</div>
